{{template "base/header" .}}


<div class="container">
    <div class="page-header text-center">
        <h1>
            Docs
            &nbsp;
            <small>fake api</small>
        </h1>
    </div>

    <dl class="dl-horizontal">
        <dt>Domain</dt>
        <dd>{{.Doc.Domain}}</dd>
    </dl>

    {{range $elm := .Doc.Docs}}
    <div class="panel panel-default">
        <div class="panel-heading"><b>Url:</b> /api/account/login</div>
        <div class="panel-body">
            <dl>
                <dt>Path</dt>
                <dd>{{$elm.Path}}</dd>
                <dt>Url</dt>
                <dd>{{$elm.Url}}</dd>
            </dl>

            {{if $elm.Error }}
            <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> {{$elm.Error}}
            </div>
            {{end}}

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {{range $end := $elm.Endpoints}}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                {{$end.Method}} {{$end.StatusCode}}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    {{end}}
</div>
<script>
(function (w) {
    w.onload = function () {
        $('.collapse').collapse()
    };
})(window);
</script>
{{template "base/footer" .}}