{{template "base/header" .}}
<div class="container">
	<div class="page-header">
		<h1>fake api
			<small>is working</small></h1>
	</div>
	<p class="lead">Right now you don't need to wait for api any more.</p>
</div>
{{template "base/footer" .}}